<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="form-group">
          <label class="sr-only"
                 for="wkToken">{{ 'sign.wkTokenLabel' | translate }}</label>
          <input fullWidth
                 id="wkToken"
                 nbInput
                 placeholder="{{ 'sign.wkTokenLabel' | translate }}"
                 status="basic"
                 type="text">
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
